{% include 'header.html.twig' %}
Strona główna <br>
    {% if user is defined %}
        Jesteś zalogowany jako: {{user.getName()}}
    {% endif %}
    <a href="/loginform/logout/">Wyloguj</a>
{% include 'footer.html.twig' %} 